<div class="row">
    <div class="col-md-4">
        <div class="row">
            <ngb-datepicker #dp [(ngModel)]="model" [minDate]=today id='calendar' (dateSelect)="filterSlot()">
            </ngb-datepicker>
        </div>
        <div class="row pt-5">
            <button type="submit" class="btn btn-small btn-secondary" (click)='gotoAppointment()'>View
                Appointment</button>
        </div>
    </div>

    <div class="col-md-8">

        <div class="row justify-content-around">
            <h3>MORNING (00:00 - 12:00)</h3>
            <app-timeslot [selectedDate]=model id='addSlot'></app-timeslot>
        </div>

        <div class="row">
            <ng-container *ngFor='let time of morningSlotFilter'>
                <button type="button" class="btn btn-light m-2" placement="bottom"
                    ngbTooltip="till {{time.to_date | date:'HH:mm':'+0000'}}">{{time.from_date |
                    date:'HH:mm':'+0000'}}</button>
            </ng-container>
            <ng-container *ngIf="morningSlotFilter && morningSlotFilter.length<1">
                No Slots are Booked
            </ng-container>
        </div>

        <div class="row justify-content-around p-2">
            <h3>EVENING (12:01 - 23:59)</h3>
            <app-timeslot [selectedDate]=model id='addSlot'></app-timeslot>
        </div>

        <div class="row">
            <ng-container *ngFor='let time of eveningSlotFilter'>
                <button type="button" class="btn btn-light m-2" placement="bottom"
                    ngbTooltip="till {{time.to_date | date:'HH:mm':'+0000'}}">{{time.from_date |
                    date:'HH:mm':'+0000'}}</button>
            </ng-container>
            <ng-container *ngIf="eveningSlotFilter && eveningSlotFilter.length<1">
                No Slots are Booked
            </ng-container>
        </div>

    </div>
</div>